/******** categories page *************/
#categories-page-offcanvas {
    height: 95% !important;
    z-index: 9999;
}

#categories-page-offcanvas .offcanvas-header {
    padding: 0 !important;
}
#categories-page-offcanvas .offcanvas-header .nav {
    flex-wrap: unset !important;
    justify-content: space-between;
    width: 100%;
}
#categories-page-offcanvas .offcanvas-header .section-tab {
    background-color: transparent;
    color: #6e6e6e !important;
    width: -webkit-fill-available;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    border-bottom: 1px solid grey !important;
    border-radius: 0 !important;
}

#categories-page-offcanvas .offcanvas-header .section-tab.active {
    border-bottom: 3px solid #51c0a9 !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    color: #51c0a9 !important;
}

#categories-page-offcanvas .offcanvas-body {
    padding: 0 !important;
    display: flex !important;
    margin-bottom: 55px;
    width: 100% !important;
}
#categories-page-offcanvas .offcanvas-body .tab-content .tab-pane .tab-buttons-content .nav {
    background-color: #d8d8d8 !important;
    height: 100vh;
    width: 30%;
}
#categories-page-offcanvas .offcanvas-body .tab-content .tab-pane .tab-buttons-content .nav button.nav-link {
    border-radius: 0 !important;
    color: #404040 !important;
}
#categories-page-offcanvas .offcanvas-body .tab-content .tab-pane .tab-buttons-content .nav button.nav-link.active {
    background-color: #f9f9f9 !important;
    font-weight: 700;
    color: #000;
}
#categories-page-offcanvas .offcanvas-body .tab-content .tab-pane .tab-buttons-content #v-pills-tabContent {
    flex: 1;
}

#categories-page-offcanvas .offcanvas-body .tab-content .tab-pane .tab-buttons-content #v-pills-tabContent .tab-pane {
    display: none;
}
#categories-page-offcanvas
    .offcanvas-body
    .tab-content
    .tab-pane
    .tab-buttons-content
    #v-pills-tabContent
    .tab-pane.active.show {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}
#categories-page-offcanvas .offcanvas-body .card-category {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6e6e6e;
    margin: 11px 6px;
    font-size: 11px !important;
    font-family: system-ui;
    height: 150px !important;
}

#categories-page-offcanvas .offcanvas-body .card-category img {
    width: 100%;
    height: 100%;
}
