@media only screen and (max-width: 767px) {
    .shopping-cart-product {
        background-color: white;
        margin-bottom: 10px;
        border-bottom: none !important;
    }
    .shopping-cart-product-info {
        font-size: 12px !important;
        font-family: system-ui;
    }
    .shopping-cart-product-price {
        font-size: 13px !important;
    }
    .shopping-cart-product-description {
        font-size: 10px !important;
    }
    .current-product-price {
        font-size: 12px !important;
    }
    .cart-discounted-product-price {
        font-size: 11px !important;
    }
    .cart-detalis {
        font-size: 13px !important;
    }
    .shopping-cart-product-quantity {
        height: 22px !important;
    }
    .shopping-cart-product-actions.save-action {
        font-size: 12px !important;
    }
}

.shopping-cart-product {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.4px solid rgb(51 51 51 / 9%);
    width: 100%;
    padding: 10px;
}

.shopping-cart-product .shopping-cart-product-img {
    width: 100px;
    height: 115px;
}

.shopping-cart-product .shopping-cart-product-img img {
    width: 100%;
    height: 100%;
}

.shopping-cart-product-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: initial;
}

.shopping-cart-product-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 14px;
    padding: 5px 0;
}

.shopping-cart-product-info a,
.shopping-cart-product-info span {
    margin-bottom: 10px;
    color: #666666;
    font-size: 12px;
}

.shopping-cart-product-brand {
    font-size: 14px;
    font-weight: 700 !important;
    color: #333 !important;
}
.shopping-cart-product-quantity {
    height: 24px;
    width: 90px;
    border: 1px solid #d3d3d340;
    border-radius: 8px;
    display: flex;
    align-items: baseline;
    text-align: center;
}
.shopping-cart-product-quantity .quantity {
    width: 40%;
    height: 100%;
}

.shopping-cart-product-quantity .quantity-btn {
    width: 30%;
    height: 100%;
}

.shopping-cart-product-quantity .quantity-btn i {
    font-size: 10px;
}

.shopping-cart-product-price--actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.shopping-cart-product-price {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.cart-discounted-product-price {
    margin-bottom: 5px;
    color: #999;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: line-through !important;
}

.shopping-cart-product-price--actions .shopping-cart-product-actions {
    cursor: pointer;
}

.shopping-cart-product-actions.save-action {
    font-size: 12px;
    color: #828282 !important;
}

.shopping-cart-product-actions.remove-action {
    font-size: 23px !important;
    color: #333 !important;
}
