// bottom offcanvas
.base-bottom-offcanvas {
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.base-bottom-offcanvas .offcanvas-header {
    border: none !important;
    display: flex;
    justify-content: space-between;
}
.base-bottom-offcanvas .offcanvas-header .border-top {
    width: 10%;
    border-top-width: 3px !important;
}
.base-bottom-offcanvas .offcanvas-body {
    padding: 0 !important;
}

// right offcanvas

@media screen and (display-mode: standalone) {
    .base-right-offcanvas .offcanvas-header {
        padding-top: 7px !important;
    }
}
@media only screen and (max-width: 700px) {
    .base-right-offcanvas {
        width: 100% !important;
    }
}
.base-right-offcanvas .offcanvas-header i {
    font-size: 17px !important;
}
.base-right-offcanvas {
    border-left: none !important;
    bottom: 50px;
}

.close-offcanvas-btn {
    background-color: transparent !important;
    font-size: 18px;
}
