@media only screen and (max-width: 767px) {
    .product-price span:first-child {
        font-weight: 700;
        font-size: 12px !important;
    }
    .discounted-product-price {
        font-size: 11px !important;
        color: #90908e;
        text-decoration: line-through !important;
    }
}
/************ product card *************/

.product-item {
    transition: transform 0.5s ease-in-out;
    border: 1px solid #cccccc24 !important;
    padding: 5px 5px !important;
}

.product-item:hover {
    transform: scale(1.02);
}

.product-card {
    position: relative;
    border: none !important;
    background-color: transparent;
}
.product-card .discount-amount-badge {
    position: absolute;
    left: 0;
    top: 15px;
    color: #e95c5b;
    background-color: rgba(242, 83, 82, 0.1);
    border-radius: 4px;
    padding: 3px 5px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}
.product-card img {
    border-radius: 5px;
}

.product-card .wishlist-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 6;
    background: #fff;
    border-radius: 50%;
    height: unset;
    padding: 3px 4px 3px;
    border: none;
}

.product-card .wishlist-btn .wishlist-icon {
    text-align: left;
    stroke: gray;
    fill: none;
    transition: fill 0.5s ease-in;
}

.product-card .wishlist-icon.in-wishlist {
    text-align: center !important;
    stroke: none !important;
    fill: #51c0a9 !important;
}

.product-content-card-body {
    padding: 5px !important;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.product-title {
    font-family: "Spartan", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: 12px;
    color: $text-primary-color;
    margin-bottom: 1px;
}

.product-description {
    font-size: 11px;
    color: #90908e;
    margin-bottom: 2px;
}

.product-price {
    display: flex;
    justify-content: space-between;
}

.product-price span:first-child {
    font-size: 15px;
    font-weight: bold;
    color: $bg-green !important;
}

.discounted-product-price {
    font-size: 12px;
    color: #90908e;
    text-decoration: line-through !important;
}

.product-out-of-stock {
    font-size: 13px;
    color: rgba(220, 53, 69, 1);
}
