@media only screen and (max-width: 500px) {
    .modal-content {
        width: 95% !important;
        margin: 0 auto !important;
    }
    .close-modal-btn {
        top: -33px !important;
        right: -3px !important;
    }
    .modal-title {
        font-size: 13px !important;
    }
}

.modal {
    color: #444 !important;
}
.close-modal-btn {
    position: absolute !important;
    top: -23px;
    right: -20px;
}
.modal label {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.cancel-submit-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cancel-submit-btns button {
    background-color: transparent;
}
.cancel-submit-btns .cancel-btn {
    color: #444;
    border-right: 1px solid rgb(123 123 123 / 27%);
}
.cancel-submit-btns .submit-btn {
    color: $bg-green;
}
.modal.base-modal .modal-body {
    padding: 0 !important;
}
