@media screen and (display-mode: standalone) {
    #toast-alert {
        top: 90px !important;
    }
    section {
        padding-bottom: 50px !important;
        padding-top: 90px !important;
    }
    #nprogress .bar {
        top: 88px !important;
    }
}

main {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}

section {
    padding-bottom: 75px;
    padding-top: 60px;
}

@media only screen and (max-width: 767px) {
    section {
        padding-top: 45px;
    }
}
#toast-alert {
    position: fixed !important;
    top: 45px;
    z-index: 999999999999999999999999999999999999999999999999999999999 !important;
    right: 15px;
    color: white;
    width: 350px;
    max-width: 100%;
    visibility: visible;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

#nprogress .bar {
    z-index: 9999999999999999999999999999999999999999999999999999999;
    height: 3px !important;
}
#nprogress .peg {
    box-shadow: none !important;
}
#nprogress .spinner {
    top: 50% !important;
    left: 50% !important;
    right: unset !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999999999999999999999999999999999999999999999999999999;
}

input:focus,
.form-check-input,
button {
    outline: 0 !important;
    box-shadow: none !important;
}

input[type="checkbox"]:checked {
    background-color: $bg-green !important;
    border-color: $bg-green !important;
    outline: 0 !important;
}

.form-floating > label {
    font-size: 11px !important;
}

a {
    color: $bg-green;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg-primary {
    background-color: $bg-green !important;
}

.btn-primary {
    background-color: $bg-green !important;
    color: $bg-primary;
    border: none;
}

.text-primary,
.active {
    color: $bg-green !important;
}

.fw-600 {
    font-weight: 600;
}

.btn-sm,
.btn-group-sm > .btn {
    font-size: 12px !important;
}

.bg-alert-success {
    background-color: $bg-green !important;
    color: white;
}

.bg-alert-danger {
    background-color: #dc3545 !important;
    color: white;
}
.spinner .spinner-icon {
    height: 35px !important;
    width: 35px !important;
}

.page-404 {
    height: 100%;
    background-color: #fff;
}

.page-404 img {
    max-width: 300px;
}

.section-title {
    margin: 20px 10px;
}
.section-title span {
    color: #088178;
}
.bi-chevron-left {
    font-size: 18px;
}
@media only screen and (max-width: 760px) {
    // section {
    //      padding-top: 40px;
    // }
    .section-title {
        font-size: 14px !important;
    }
}
