/******** footer *************/

@media screen and (display-mode: standalone) {
    #mobile-footer {
        padding-bottom: 28px !important;
    }
}

footer {
    background-color: $bg-primary;
    border-top: 1px solid #96969630;
}

.desktop-footer {
    height: 65px;
    margin-top: auto;
    display: flex;
    align-items: center;
}
#mobile-footer:-webkit-full-screen {
    padding-bottom: 28px !important;
}
#mobile-footer {
    height: 45px;
    position: fixed !important;
    z-index: 999999999999999999;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 10px;
    z-index: 1;
}

#mobile-footer .footer-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.footer-item {
    position: relative;
    color: #000 !important;
    font-family: system-ui;
    padding: 0 8px;
}
.footer-item a {
    display: block;
    color: #000;
}

.footer-item a span {
    font-size: 11px;
    display: block;
    margin-top: -3px;

    font-weight: 500;
}
.footer-item a i {
    font-size: 20px;
}
.footer-item .badge-footer {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 12px;
    background-color: #cf222e;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    color: white;
}
.footer-item .badge-footer.wishlist {
    right: 2px !important;
}
.footer-item .badge-footer.cart {
    right: -5px !important;
}
.active-footer-item {
    color: #51c0a9 !important;
}

@media (min-width: 1200px) {
    .col-xl-2.category-card {
        flex: 0 0 auto;
        width: 13.66666667%;
    }
}
